<div id="eos-banner">
  <div class="eos-container">
    <div class="eos-banner eos-banner-cotton">
      <div class="eos-banner-button eos-banner-button-cotton">
        <a class="active" href="javascript:null" title="{{ texts.banner.textCotton }}">
          <span class="eos-banner-button-icon"></span>
          <span class="eos-banner-button-text">{{ texts.banner.textCotton }}</span>
          <span class="eos-banner-triangle-active"><span /></span>
        </a>
      </div>
    </div>
    <div class="eos-banner eos-banner-sock">
      <div class="eos-banner-button eos-banner-button-sock">
        <a href="javascript:null" title="{{ texts.banner.textSock }}">
          <span class="eos-banner-button-icon"></span>
          <span class="eos-banner-button-text">{{ texts.banner.textSock }}</span>
          <span class="eos-banner-triangle-active hidden"><span /></span>
        </a>
      </div>
    </div>
    <div class="eos-banner eos-banner-dots">
      <div class="eos-banner-button eos-banner-button-dots">
        <a href="javascript:null" title="{{ texts.banner.textDots }}">
          <span class="eos-banner-button-icon"></span>
          <span class="eos-banner-button-text">{{ texts.banner.textDots }}</span>
          <span class="eos-banner-triangle-active hidden"><span /></span>
        </a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>