<div class="eos-container">
  <div id="eos-keyvisual">
    <div class="eos-keyvisual-title">
      <h2>{{ texts.keyvisual.title }}</h2>
    </div>
    <div class="eos-keyvisual-text">
      <p>{{ texts.keyvisual.text }}</p>
    </div>
    <div class="eos-keyvisual-button">
      <a class="button" href="javascript:null" title="{{ texts.keyvisual.button }}">{{ texts.keyvisual.button }}</a>
    </div>
    <img class="eos-keyvisual-socks" src="/images/socks.jpg" alt="{{ texts.keyvisual.title }}">
  </div>
</div>
